@{
    ViewData["Title"] = "Change Password";
}
<script src="~/js/helperPassword.js" asp-append-version="true"></script>
<script>

    document.addEventListener('DOMContentLoaded', function (event) {

        window.onload = OnLoad();
    });
</script>
<div id="content" class="paginate fixed-padding">
    <h2>Change Password Form</h2>
    <form id="adminForm" onsubmit="event.preventDefault();">

        <label for="email">Email: </label>
        <input class="email" type="text" name="UserName" />
        <ul class="helper-text">
            <li class="email">Must be a valid email</li>

        </ul>
        <label for="OldPassword">Old Password: </label>
        <input type="text" id="OldPassword" name="OldPassword">

        <label for="PasswordNew">New Password: </label>
        <input class="password" name="Newpassword" id="newpassword" type="password" />

        <label for="Password">Confirm Password: </label>
        <input class="password" type="password" id="confirmPassword" name="ConfirmPassword">

        <ul class="helper-text">
            <li class="length">Must be at least 10 characters long.</li>
            <li class="lowercase">Must contain 2 lowercase letter.</li>
            <li class="uppercase">Must contain an uppercase letter.</li>
            <li class="special">Must contain a  special character.</li>
            <li class="digit">Must contain a number/digit.</li>
            <li class="match">Passwords must match.</li>
        </ul>
        <button id="btnSave"  onclick="ChangePass()">Save</button>
    </form>

    <!--div class="message success">
      Success Message
    </div>

    <div class="message alert">
      Alert Message
    </div-->
</div>
